# Files and directories created by pub.
.dart_tool/
.packages

# Conventional directory for build output.
build/

codegen/__pycache__/
Makefile
native/c_codegen.h
bin/dart_codegen.dart
.cloc_exclude_list.txt